.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.table-holder {
  width: 75%;
  font-size: 20px;
}
.chess-board {
  height: fit-content;
}

.move {
  color: white;
  text-decoration: none;
}

.time-control, .player-name {
  color: white;
}

.move:hover {
  color: yellow;
  cursor: pointer;
}

.moveSpan {
    margin: 0px;
    font-size: calc(8px + 1vmin);
}

.moveSelected {
  color: yellow;
  text-decoration: none;
}

.moveSelected:hover {
  color: yellow;
  cursor: pointer;
}

.Game {
    background-color: #282c34;
    color: grey;
}

.moveElement {
}

.submit-name {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.moves {
    background-color: rgb(21, 21, 21);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.next-button {
  margin-left: 5px;
  margin-right: 20px;
}

.prev-button {
  margin-left: 0px;
  margin-right: 5px;
}

.App-link {
  color: #61dafb;
}

.bottom-row {
    margin-top: 5px;
}

.top-row {
    margin-top: 5px;
    margin-bottom: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
